
/* resetear margin y padding por defecto */

* {
    margin: 0;
    padding: 0;
}

/* margin - para agregarle un espacio de separación los los demás elementos o borde de la venta o pantalla */
/* margin - 1° todos los lados */
/* margin - 2° arriba y abajo | derecha e izquierda */
/* margin - 3° arriba | derecha e izquierda | abajo*/
/* margin - 4° arriba | derecha | abajo | izquierda*/

.caja-1 {
    width: 400px;
    height: 200px;
    background-color: gold;
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 60px;
    margin-left: 100px;
}

.caja-2 {
    width: 300px;
    height: 200px;
    background-color: green;
    /*margin: 40px;  todos los lados*/
    /* margin: 40px 20px ; */
    /* margin: 20px 40px 30px; */
    margin: 20px 30px 20px 40px; 
}

